- name: Install packages
  package:
    name:
      - dnf-automatic
      - firewalld
      - nano
    state: latest

- name: Upgrade all packages now
  package:
    name: '*'
    state: latest

- name: Configure automatic updates to reboot if needed
  lineinfile:
    path: /etc/dnf/automatic.conf
    regexp: '^reboot ='
    line: 'reboot = when-needed'

- name: Enable automatic updates
  systemd:
    name: dnf-automatic.timer
    enabled: yes
    state: started

- name: set timezone
  timezone:
    name: Europe/Helsinki

- name: allow http, https and ssh through firewall
  firewalld:
    service: "{{ item }}"
    permanent: yes
    state: enabled
  with_items:
    - http
    - https
    - ssh
  notify:
    - restart firewalld

- name: enable and start firewalld
  service:
    name: firewalld
    state: started
    enabled: yes
