.info-panel {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background: @brand-color;
  color: #fff;

  .info-panel__toggle {
    margin: 16px;
    cursor: pointer;
    &:hover {
      color: black;
    }
  }
}

.info-panel--collapsed {
  width: 26px;
  .info-panel__toggle {
    transform: rotate(-90deg);
    transform-origin: right bottom;
    position: absolute;
    bottom: 126px;
    right: 4px;
    width: 110px;
    margin: 0;
  }
}

.info-panel__content {
  padding: 0 16px;
  width: 320px;
  display: flex;
  flex-direction: column;
}

.info-panel__logo {
  display: flex;
  margin: 16px 0;
  img {
    height: 64px;
  }
  h1 {
    flex-grow: 1;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 38px;
    line-height: 32px;
    margin: 0;
  }
}

.info-panel__description {
  font-size: 15px;
  a, a:visited {
    color: white;
    &:hover {
      color: black;
    }
  }
}

@media screen and (max-height : 460px) {
  .info-panel__logo {
    display: none;
  }
}