.info-panel {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background: @brand-color;
  color: #fff;

  .info-panel__toggle {
    margin: 16px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    &:hover {
      color: black;
    }
  }

  &:after {
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    width: 10px;
    position: absolute;
    .pride(180deg);
  }
}

.info-panel--collapsed {
  touch-action: none;
  width: 30px;
  .info-panel__toggle {
    transform: rotate(-90deg);
    transform-origin: right bottom;
    position: absolute;
    bottom: 140px;
    right: 6px;
    width: 110px;
    margin: 0;
  }
  .pride(180deg);
  &:after {
    display: none;
  }
}

.info-panel__content {
  padding: 0 16px;
  width: 380px;
  display: flex;
  flex-direction: column;
}

.info-panel__logo {
  display: flex;
  margin: 16px 0;
  img {
    height: 64px;
  }
  h1 {
    flex-grow: 1;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 38px;
    line-height: 32px;
    margin: 0;
  }
}

.info-panel__description {
  font-size: 15px;
  a, a:visited {
    color: white;
    &:hover {
      color: black;
    }
  }
}

@media screen and (orientation: portrait) {
  .info-panel {
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;  

    &:after {
      content: '';
      top: 0;
      left: 0;
      right: 0;
      bottom: auto;
      width: auto;
      height: 10px;
      position: absolute;
      .pride(90deg);
    }
  }

  .info-panel--collapsed {
    width: auto;
    height: 30px;
    .info-panel__toggle {
      transform: rotate(0);
      transform-origin: right bottom;
      position: initial;
      width: 100%;
      margin: 6px;
      text-align: center;
    }
    .pride(90deg);
    &:after {
      display: none;
    }
  }

  .info-panel__content {
    width: auto;
  }
}

@media screen and (max-height : 480px) {
  .info-panel__logo {
    display: none;
  }
}

.pride(@direction) {
  background: linear-gradient(@direction, #FE0000 16.66%,
  #FD8C00 16.66%, 33.32%,
  #FFE500 33.32%, 49.98%,
  #119F0B 49.98%, 66.64%,
  #0644B3 66.64%, 83.3%,
  #C22EDC 83.3%);
}