.info-panel {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background: @brand-color;
  color: #fff;

  .info-panel__toggle {
    margin: 16px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    &:hover {
      color: black;
    }
  }
}

.info-panel--collapsed {
  width: 30px;
  .info-panel__toggle {
    transform: rotate(-90deg);
    transform-origin: right bottom;
    position: absolute;
    bottom: 140px;
    right: 6px;
    width: 110px;
    margin: 0;
  }
}

.info-panel__content {
  padding: 0 16px;
  width: 340px;
  display: flex;
  flex-direction: column;
}

.info-panel__logo {
  display: flex;
  margin: 16px 0;
  img {
    height: 64px;
  }
  h1 {
    flex-grow: 1;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 38px;
    line-height: 32px;
    margin: 0;
  }
}

.info-panel__description {
  font-size: 15px;
  a, a:visited {
    color: white;
    &:hover {
      color: black;
    }
  }
}

@media screen and (orientation: portrait) {
  .info-panel {
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;  
  }

  .info-panel--collapsed {
    width: auto;
    height: 30px;
    .info-panel__toggle {
      transform: rotate(0);
      transform-origin: right bottom;
      position: initial;
      width: 100%;
      margin: 6px;
      text-align: center;
    }
  }

  .info-panel__content {
    width: auto;
  }
}

@media screen and (max-height : 480px) {
  .info-panel__logo {
    display: none;
  }
}
