[Unit]
Description=Sataako.fi node.js app
Requires=network.target
After=network.target

[Service]
Environment="NODE_ENV=production"
Environment="LD_PRELOAD=/usr/lib64/libjemalloc.so.1"
ExecStart=/bin/node --max-old-space-size=256 src/app.js
Restart=always
RestartSec=10
User=sataako
Group=sataako
WorkingDirectory=/home/sataako/app

[Install]
WantedBy=multi-user.target