[Unit]
Description=Sataako.fi node.js app
Requires=network.target
After=network.target

[Service]
Environment="NODE_ENV=production"
ExecStart=/bin/node --max-old-space-size=512 src/app.ts
Restart=always
RestartSec=10
User=sataako
Group=sataako
WorkingDirectory=/home/sataako/app

[Install]
WantedBy=multi-user.target
