name: Run tests

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [24.x]
    steps:
     - uses: actions/checkout@v5
     - uses: actions/setup-node@v5
       with:
         node-version: ${{ matrix.node-version }}
     - run: npm ci
     - run: npm audit
     - run: npm run eslint
     - run: npm run typecheck
     - run: npm test
     - run: npm run build
